<?xml version="1.0"?>
<robot name="robot_rrr">

  <!-- Base del robot -->

  <link name="base_link">

    <visual>
      <geometry>
        <box size="0.2 0.2 0.05"/>
      </geometry>

      <material name="purple">
        <color rgba="0.25 0 0.6 1"/>
      </material>
    </visual>

  </link>


  <!-- Columna -->

  <link name="link1">

    <visual>

      <origin xyz="0 0 0.075"/>

      <geometry>
        <box size="0.05 0.05 0.15"/>
      </geometry>

      <material name="green">
        <color rgba="0 0.5 0 1"/>
      </material>

    </visual>

  </link>


  <!-- Junta 1 (Giro vertical) -->

  <joint name="joint1" type="revolute">

    <parent link="base_link"/>
    <child link="link1"/>

    <origin xyz="0 0 0"/>

    <axis xyz="0 0 1"/>

    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="1"/>

  </joint>


  <!-- ESLABÓN 2 -->

  <link name="link2">

    <visual>

      <origin xyz="0 0 0.15"/>

      <geometry>
        <box size="0.05 0.05 0.3"/>
      </geometry>

      <material name="red">
        <color rgba="0.6 0 0 1"/>
      </material>

    </visual>

  </link>

  <!-- Junta 2 (Rotacion)-->

  <joint name="joint2" type="revolute">

    <parent link="link1"/>
    <child link="link2"/>

    <origin xyz="0 0 0.15"/>


    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>

  </joint>

  <!-- ESLABÓN 3 -->
 
  <link name="link3">

    <visual>


      <origin xyz="0 0 0.22"/>

      <geometry>
        <box size="0.05 0.05 0.45"/>
      </geometry>

      <material name="orange">
        <color rgba="0.8 0.4 0 1"/>
      </material>

    </visual>

  </link>


  <!-- JOINT 3 -->
  <!-- Movimiento horizontal -->


  <joint name="joint3" type="revolute">

    <parent link="link2"/>
    <child link="link3"/>

    <origin xyz="0 0 0.3"/>

    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>

