<robot name="robot_rrr">

  <!-- BASE -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.05"/>
      </geometry>
      <origin xyz="0 0 0.025"/>
      <material name="cyan">
        <color rgba="0 1 1 1"/>
      </material>
    </visual>
  </link>

  <!-- COLUMNA -->
  <link name="shoulder_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.15"/>
      </geometry>

      <origin xyz="0 0 0.075"/>

      <material name="magenta">
        <color rgba="1 0 1 1"/>
      </material>
    </visual>
  </link>

  <!-- ESLABON 2 -->
  <link name="arm_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.3"/>
      </geometry>

      <origin xyz="0 0 0.15"/>

      <material name="red">
        <color rgba="0.6 0 0 1"/>
      </material>
    </visual>
  </link>

  <!-- ESLABON 3 -->
  <link name="forearm_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.45"/>
      </geometry>

      <origin xyz="0 0 0.225"/>

      <material name="orange">
        <color rgba="0.8 0.4 0 1"/>
      </material>
    </visual>
  </link>

  <!-- JOINT 1 -->
  <joint name="shoulder_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>

    <origin xyz="0 0 0.05"/>

    <axis xyz="0 0 1"/>

    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="1"/>
  </joint>

  <!-- JOINT 2 -->
  <joint name="arm_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="arm_link"/>

    <origin xyz="0 0 0.15"/>

    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>
  </joint>

  <!-- JOINT 3 -->
  <joint name="forearm_joint" type="revolute">
    <parent link="arm_link"/>
    <child link="forearm_link"/>

    <origin xyz="0 0 0.3"/>

    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>
  </joint>

</robot>
