<?xml version="1.0"?>
<robot name="robot_rrr" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base -->

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.05"/>
      </geometry>
      <material name="purple">
        <color rgba="0.25 0 0.6 1"/>
      </material>
    </visual>
  </link>

  <!-- Shoulder Link -->

  <link name="shoulder_link">
    <visual>
      <origin xyz="0 0 0.075"/>
      <geometry>
        <box size="0.05 0.05 0.15"/>
      </geometry>
      <material name="green">
        <color rgba="0 0.5 0 1"/>
      </material>
    </visual>
  </link>

  <!-- Shoulder Joint -->

  <joint name="shoulder_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>

    <origin xyz="0 0 0"/>

    <axis xyz="0 0 1"/>

    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="1"/>
  </joint>

  <!-- Arm Link -->

  <link name="arm_link">
    <visual>
      <origin xyz="0 0 0.15"/>
      <geometry>
        <box size="0.05 0.05 0.3"/>
      </geometry>
      <material name="red">
        <color rgba="0.6 0 0 1"/>
      </material>
    </visual>
  </link>

  <!-- Arm Joint -->

  <joint name="arm_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="arm_link"/>

    <origin xyz="0 0 0.15"/>

    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>
  </joint>

  <!-- Forearm Link -->

  <link name="forearm_link">
    <visual>
      <origin xyz="0 0 0.22"/>
      <geometry>
        <box size="0.05 0.05 0.45"/>
      </geometry>
      <material name="orange">
        <color rgba="0.8 0.4 0 1"/>
      </material>
    </visual>
  </link>

  <!-- Forearm Joint -->

  <joint name="forearm_joint" type="revolute">
    <parent link="arm_link"/>
    <child link="forearm_link"/>

    <origin xyz="0 0 0.3"/>

    <axis xyz="0 1 0"/>

    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>
  </joint>

</robot>